<footer class="footer">
  <div>
    This material is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA 4.0 License</a>.

  </div>
  <div class="improvement">
    <%= partial 'partials/improve_buttons' %>     <a href="https://github.com/materiaalit/intro-to-ai-17" class="footer__github-link" target="_blank" rel="noopener">
      <i class="fa fa-github"></i>
    </a>
  </div>
</footer>
