<div class="solution" data-target='collapse'>
  <div class="solution__header">
    <a data-toggle="collapse" class="solution__toggle">
      <i class="fa fa-magic solution__icon"></i>
      <h1 class="solution__heading"><%= name %></h1>

      <i class="fa fa-caret-down solution__arrow"></i>
    </a>
  </div>

  <div class="collapse">
    <div class="solution__body">
      <%= yield %>
    </div>
  </div>
</div>
