<div class="solution">
  <div class="solution__header">
    <a data-toggle="collapse" class="solution__toggle">
      <i class="fa fa-pencil solution__icon"></i>
      <h1 class="solution__heading"></h1>

      <i class="fa fa-info-circle hint__icon"></i>
    </a>
  </div>

  <div class="collapse">
    <div class="solution__body">
      <%= yield %>
    </div>
  </div>
</div>
