---
  title: Introduction
---

<% partial 'partials/material_heading' do %>
  Introduction to AI
<% end %>

<% partial 'partials/hint', locals: { name: 'Hard hat required' } do %>

<p>
  This material is under construction (hopefully not the
  ''Länsimetro style''). It will be constantly expanded and
  revised as we go.
</p>

<% end %>

<p>
Welcome to the Introduction to AI! This the Fall 2017 edition of the
course at the Department of Computer Science, University of
Helsinki. The course is an intermediate level 5 credit course, which
is organized by
the <a href="https://www.helsinki.fi/en/programmes/master/data-science">Data
Science MSc programme</a>. We also welcome students in the
<a href="https://www.helsinki.fi/fi/ohjelmat/kandi/tietojenkasittelytieteen-kandiohjelma">Computer
Science BSc programme</a> as well as all other students as a part of
your minor subject studies.
</p>

<p>
The calculated workload of a 5 cu course is 18 hours per week, so
please be prepared to spend time and effort in learning. The course
will require hard work. You have been warned.
</p>

<% partial 'partials/material_sub_heading' do %>
  Prerequisites: What you should know before starting
<% end %>

<p>
Prerequisites are good programming skills, and basic data structures and
algorithms, and some university level mathematics.

<table class="table">
  <tr>
    <th>
      Field
    </th>
    <th>
      Required skills
    </th>
  </tr>
  <tr>
    <td>
      Data Structures
    </td>
    <td>
stack, priority queue, tree traversal, heuristic search, A* algorithm;
for example <i>Data Structures and Algorithms</i> (<i>Tietorakenteet ja algoritmit</i>)
    </td>
  </tr>
  <tr>
    <td>
      Programming
    </td>
    <td>
      good programming skills in one or more languages (Java or python recommended)
    </td>
  </tr>
  <tr>
    <td>
      Mathematics
    </td>
    <td>
      elements of discrete mathematics and linear algebra (set
      operations, graphs, vectors), probability calculus &ndash; multivariate
      probability is helpful but not required; for
      example <i>Probability calculus I</i> (<i>Todennäköisyyslaskenta I</i>)
    </td>
  </tr>
</table>


<% partial 'partials/material_sub_heading' do %>
  Learning objectives
<% end %>

<table class="table">
  <tr>
    <th>
      Theme
    </th>
    <th>
      Objectives (after the course, you ...)
    </th>
  </tr>
  <tr>
    <td>
      Philosophy and history of AI
    </td>
    <td>
      <ul>
	<li>can express the basic philosophical problems related to AI
(the difficulty in defining AI and consciousness, acting vs thinking,
Turing test)
	<li>can distinguish between realistic and unrealistic AI in
science-fiction
	<li>can describe the contrast between "Good Old Fashioned
AI" (GOFAI) and modern AI approaches
	<li>know the main-stream developments in the history of AI
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      Games and search
    </td>
    <td>
      <ul>
	<li>can formulate a problem as a graph and apply search algorithms to solve it
	<li>can explain and implement A* search
	<li>can formulate a simple game (such as tic-tac-toe) as a game tree
	<li>can explain and implement the minimax algorithm and depth-limited alpha-beta pruning
	<li>can design a reasonable heuristic evaluation function in a game (e.g., chess)
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      Reasoning under uncertainty
    </td>
    <td>
      <ul>
	<li>can express uncertain knowledge in a simple situation using a probabilistic model
	<li>can apply the Bayes theorem to calculate posterior probabilities given evidence in a simple scenario
	<li>can estimate probability values from a sample
	<li>can represent a problem solving situation as a Bayesian network
	<li>can apply an approximate (Monte Carlo) technique to perform inference in a Bayesian network
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      Machine learning
    </td>
    <td>
      <ul>
	<li>can distinguish between unsupervised and supervised machine learning scenarios
	<li>can implement at least two supervised classification methods (e.g., naive Bayes, nearest neighbour classifier)
	<li>know the main types of neural networks (feed-forward, recurrent, self-organizing map) and their main principles
	<li>can implement the perceptron algorithm in a simple binary classification problem
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      Natural language processing
    </td>
    <td>
      <ul>
	<li>can generate sentences from a given context-free grammar
	<li>can parse a sentence using the Cocke-Younger-Kasami algorithm
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      Digital Signal Processing and Robotics
    </td>
    <td>
      <ul>
	<li>can describe the principles of at least one pattern recognition method (e.g., SIFT/SURF)
	<li>can apply at least one pattern recognition method in practice
	<li>appreciate the difficulty of implementing an autonomous robot in the real world
	<li>implement simple functionalities, e.g., following a line on the floor, using a robot with limited sensor capabilities
      </ul>
    </td>
  </tr>
</table>


<% partial 'partials/material_sub_heading' do %>
  Working methods
<% end %>

<p>
  The course includes lectures (2 x 2h per week) and exercise sessions (2h
  per week). The exercise sessions are meant for discussing the problems
  after you have completed them by yourself.
</p>

<p>
  The lectures are not compulsory but they are meant to be useful.
</p>

<p>
  Exercise points are marked in the exercise sessions; see <i>Grading</i>
  below.
</p>

<p>
  You must register in one of the exercise groups on the registration
  system. If all the groups are full, please register in the overflow
  group and contact the lecturer or the TAs for instructions.
</p>

<p>
  In case you have an unexpected constraint and can't make it to your
  own exercise session, the following options are (prioritized):
  <i>(a)</i> ask for permission to go to another group; or <i>(b)</i>
  submit your solutions by email before your own group session AND
  explain the unexpected situation (NB: being busy at work
  is <i>not</i> a valid excuse). You can only use the
  option <i>b</i> two (2) times during the course to gain points.
</p>

<% partial 'partials/material_sub_heading' do %>
  Course material
<% end %>

<p>
  There is no course textbook. The course material consists of lecture
  slides and other material collected here.  You can find the lecture
  slides and other useful information on 
  the <a href="https://courses.helsinki.fi/DATA15001/119123276">course
  homepage</a>. The lecture slides are found under Material.
</p>

<p>
  But please continue reading this page first.
</p>

<% partial 'partials/material_sub_heading' do %>
  Support
<% end %>

<p>
  Questions and answers are most easily discussed on the discussion
  forum which you can access by clicking 'Chat' in the title bar. The
  lecturer and the TAs will do their best to answer questions but other
  students are also encouraged to engage in the discussion &ndash;
  often the best explanation is provided by a fellow student rather than
  a professor!
</p>

<p>
  Please maintain a positive and supporting attitude in all discussions.
  There are no stupid questions, and making a mistake is often an
  excellent opportunity to learn &ndash; also for others.
</p>

<% partial 'partials/material_sub_heading' do %>
  Grading
<% end %>


<p>
  Grading on a scale 1–5. Grading depends on the completed exercises (about 33% of the grade) and the course exam (about 67% of the grade). You get full exercise points for completing 80% of the exercises.
</p>


<% partial 'partials/hint', locals: { name: 'Uncharted territory' } do %>

<p>
  We are currently working to get this part translated to English
  and updated to reflect the working practices on
  Introduction to AI. Thanks for your patience.
</p>

<% end %>

<% partial 'partials/material_heading' do %>
  Accounts and tools
<% end %>



<% partial 'partials/material_sub_heading' do %>
  Creating a user account
<% end %>

<p>
  You'll need a user account to the Test My Code (TMC) system that will be used to automatically assess some parts of the programming exercises.
  You should also log in to the course material with the same account.
</p>

<p>
 <strong>NOTE:</strong> your username <i>needs</i> to be your student number. This helps us to associate your submissions to you.
</p>

<p>
  Account can be created here: <a href="https://tmc.mooc.fi/user/new" target="_blank" rel="noopener">https://tmc.mooc.fi/user/new</a>.
</p>

<% partial 'partials/material_sub_heading' do %>
  Installing the programming environment
<% end %>

<p>
  We recommend that you use the Netbeans IDE with the TMC plugin. The plugin makes it easy to return the exercises. These tools are installed in computer labs B221 and BK107 under the name 'TMCBeans'.
</p>

<p>
  If you're doing the course on your own computer you'll need to install the Java JDK 8 and and the NetBeans with TMC-environment.
</p>


<ul>

  <li>
    <strong>Installing Java (* linux, check below!)</strong>: install JDK (Java SE Development Kit 8u144) from <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html" target="_blank" rel="noopener">http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html</a>.
  </li>

  <li>
    <strong>Installing NetBeans with TMC</strong>: Go to <a href="http://update.testmycode.net/installers/tmc-netbeans_hy/" target="_blank" rel="noopener">http://update.testmycode.net/installers/tmc-netbeans_hy/</a>. Choose the right installer for your operating system (eg. for windows .exe, for linux .sh and for macOS .tgz) Once you have downloaded the installer, install the program.
  </li>
</ul>


<p>
  <strong>(*)</strong> If you're on linux installing openjdk is probably easier. If you're on Ubuntu you can install it with:
</p>

<pre>
sudo apt install openjdk-8-jdk
</pre>

<p>
If you want to do the exercises in Python instead you can download project templates with <a href="https://github.com/testmycode/tmc-cli" target="_blank" rel="noopener">tmc-cli</a>. You can also download the templates straight from <a href="https://tmc.mooc.fi/org/hy/courses/248">TMC</a>. TMC also gives you an option to submit full completed exercise folders as a zip files. <b>Note:</b> the Python versions of the exercises contain no tests and are mostly just empty projects.
</p>

<p>
  Next select the right course in the programming environment.
</p>



<% partial 'partials/material_sub_sub_heading' do %>
  Selecting the right course in the programming environment
<% end %>

<p>
Open the tmc settings and make sure that the server address is: <code>https://tmc.mooc.fi/org/hy</code>. Then log in and select <code>hy-intro-to-ai-17</code> as your course.
</p>

<p>
If you're using Python and tmc-cli, select <code>hy-intro-to-ai-17-python</code> as your course.
</p>

<% partial 'partials/material_sub_heading' do %>
  Research participation
<% end %>


<%= partial 'partials/quiz', locals: { id: '59b10051714bcf0004c283bd' } %>


<% partial 'partials/hint', locals: { name: 'Then to the material...' } do %>

  <p>
    Click 'Part 1' from the top of this page.
  </p>

<% end %>
