---
  title: Part 6
  exercise_page: true
  quiz_page: false
  published: true
---


<% partial 'partials/exercise', locals: { name: 'Robotics 1 (2p)' } do %>

<p>
  Detailed instructions for this exercise are coming soon.
</p>

<p>
  In the meantime, you should register to the Robotics Workshop.
  This week's exercises will be done partly on your own (just as
  usual) and partly at the workshops. You will get the points only
  by attending a workshop.
</p>

<p>
  Each student should register to one workshop (and attend it).
  Registration is done through:
  <ul>
    <li>
      <a href="https://doodle.com/poll/rq88tni9e9d9gm4q">this
	Doodle link</a>
  </ul>
</p>

<% end %>

<% partial 'partials/exercise', locals: { name: 'Robotics 2 (2p)' } do %>

<p>
  We'll add detailed instructions for the second robotics task
  here soon. Please find the registration link to the Robotics 
  Workshops in Exercise 1 above.
</p>

<% end %>

<% partial 'partials/exercise', locals: { name: 'Feedback (2p)' } do %>

<p>
  The development of this course relies on your feedback. To give you
  a concrete incentive to give feedback, you'll even get exercise
  points for giving feedback!
</p>

<p>
  The deadline for this exercise is November 1 (one week after the
  course exam).
</p>

<p>
  Give feedback in both of the following ways:
  <ol>
    <li>
      Anonymously through the department feedback system:
      <a href="https://ilmo.cs.helsinki.fi/kurssit/servlet/Valinta?kieli=en">link to feedback system</a>
    <li>
      By email to the lecturer: <a href="mailto:teemu.roos@cs.helsinki.fi">
	teemu.roos@cs.helsinki.if</a>
  </ol>
</p>

<p>
  To get 1p for item 1, mention in your email that you have submitted
  the anonymous feedback through the feedback system.
</p>

<p>
  Don't worry if the content is overlapping.
</p>

<% end %>

You can soon find the lecture slides for this part on the <a href="https://courses.helsinki.fi/DATA15001/119123276">course homepage</a>
under Materials.


<% partial 'partials/material_heading' do %>
  Robotics
<% end %>

<p>
  On this final part, we will encounter a <b>Grand Challenge</b>
  of AI, namely <b>Robotics</b>. Building and especially 
  programming robots so that they can operate in complex,
  real-world scenarios requires a combination of virtually
  all areas of AI. For example:
  <ul>
    <li> computer vision and speech recognition  for
      sensing the environment
    <li> natural language processing, information retrieval, and
      reasoning under uncertainty for processing instructions and
      predicting consequences of potential actions
    <li> cognitive modeling and <a href="https://en.wikipedia.org/wiki/Affective_computing">affective computing</a> for interacting and
      working together with humans
  </ul>
</p>

<p>
  Many of the robotics-related AI problems are best approached by
  machine learning, so it is a very central branch of AI for robotics.
</p>

<p>
  Of course we cannot solve all the open problems in robotics.  Our
  objective is to first appreciate the challenges that operating under
  constraints on the sensor capabilities of robots, and second, to
  learn to implement simple functionalities despite such
  contraints. In practice, this will be done in fun robotics workshops
  where you'll be able to get your hands on actual robots.
  (Don't worry, no terminators involved.)
</p>
  

<% partial 'partials/hint', locals: { name: 'Learning objectives of Part 5' } do %>

<table class="table">
  <tr>
    <td>
      Theme
    </td>
    <td>
      Objectives (after the course, you ...)
    </td>
  </tr>
  <tr>
    <td>
      Digital Signal Processing and Robotics
    </td>
    <td>
      <ul>
	<li>appreciate the difficulty of implementing an autonomous robot in the real world
	<li>implement simple functionalities, e.g., following a line on the floor, using a robot with limited sensor capabilities
      </ul>
    </td>
  </tr>
</table>

<% end %>

<% partial 'partials/material_sub_heading' do %>
  Digital signal representations
<% end %>

<p>
  Digital image and audio signals represent recordings of natural
  signals in numerical form. For images, the values represent 
  pixel intensities stored in a two-dimensional array. A third
  dimension can be used to store different bands for, e.g.,
  red, green, and blue (RGB). We can also think of the values
  are functions of the x and y coordinates, F(x,y).
</p>


