---
  title: Part 6
  exercise_page: true
  quiz_page: false
  published: true
---


You can soon find the lecture slides for this part on the <a href="https://courses.helsinki.fi/DATA15001/119123276">course homepage</a>
under Materials.


<% partial 'partials/material_heading' do %>
  Robotics
<% end %>

<p>
  On this final part, we will encounter a <b>Grand Challenge</b>
  of AI, namely <b>Robotics</b>. Building and especially 
  programming robots so that they can operate in complex,
  real-world scenarios requires a combination of virtually
  all areas of AI. For example:
  <ul>
    <li> computer vision and speech recognition  for
      sensing the environment
    <li> natural language processing, information retrieval, and
      reasoning under uncertainty for processing instructions and
      predicting consequences of potential actions
    <li> cognitive modeling and <a href="https://en.wikipedia.org/wiki/Affective_computing">affective computing</a> for interacting and
      working together with humans
  </ul>
</p>

<p>
  Many of the robotics-related AI problems are best approached by
  machine learning, so it is a very central branch of AI for robotics.
</p>

<p>
  Of course we cannot solve all the open problems in robotics.  Our
  objective is to first appreciate the challenges that operating under
  constraints on the sensor capabilities of robots, and second, to
  learn to implement simple functionalities despite such
  contraints. In practice, this will be done in fun robotics workshops
  where you'll be able to get your hands on actual robots.
  (Don't worry, no terminators involved.)
</p>
  

<% partial 'partials/hint', locals: { name: 'Learning objectives of Part 5' } do %>

<table class="table">
  <tr>
    <td>
      Theme
    </td>
    <td>
      Objectives (after the course, you ...)
    </td>
  </tr>
  <tr>
    <td>
      Digital Signal Processing and Robotics
    </td>
    <td>
      <ul>
	<li>appreciate the difficulty of implementing an autonomous robot in the real world
	<li>implement simple functionalities, e.g., following a line on the floor, using a robot with limited sensor capabilities
      </ul>
    </td>
  </tr>
</table>

<% end %>

<% partial 'partials/material_sub_heading' do %>
  Digital signal representations
<% end %>

<p>
  Digital image and audio signals represent recordings of natural
  signals in numerical form. For images, the values represent 
  pixel intensities stored in a two-dimensional array. A third
  dimension can be used to store different bands for, e.g.,
  red, green, and blue (RGB). We can also think of the values
  are functions of the x and y coordinates, F(x,y).
</p>


