---
  title: Part 6
  exercise_page: true
  quiz_page: false
  published: true
---


<% partial 'partials/exercise', locals: { name: 'Robotics 1 (2p)' } do %>

<p>
  This week's exercises will be done partly on your own (just as
  usual) and partly at the workshops. You will get the points only
  by attending a workshop.
</p>

<p>
  Each student should register to one workshop (and attend it).
  Registration is done through:
  <ul>
    <li>
      <a href="https://doodle.com/poll/rq88tni9e9d9gm4q">this
	Doodle link</a>
  </ul>
</p>

<p>
  In this task, you will get to play
  with <a href="https://shop.lego.com/en-US/LEGO-MINDSTORMS-NXT-2-0-8547">Lego
  Mindstorms NXT 2.0</a> robots. We will provide you with a pre-built robot,
  so unfortunately, no building is involved. The robot is a simple
  "car" with three wheels, a light sensor, and an ultrasound sensor.
</p>

<p>
  Two of the wheels, the left and the right one, are connected to 
  independent motors (<code>Motor.A</code> and <code>Motor.B</code>),
  and you can instruct them to rotate either forward or backward.
  To turn right, for example, you can rotate the left wheel forward and
  keep the right wheel still.
</p>

<p>
  The light sensor is in the front of the robot and points directly
  toward the floor. The ultrasound sensor is attached to the left side
  of the robot, approximately 10cm behind the front of the robot, and
  it points directly to the left. See the drawing below to get
  a better idea (maybe).
</p>

<img src="/img/drawings/legorobo.png" width=75%><br><br>

<p>
  <i>Note:</i> You need not install the leJOS environment on your own
  computer. We will provide laptops with all the required tools to
  write Java code, compile, and connect to the robot. You will just
  have to code "blind" without being able to compile and test before
  the workshop. You'll have to finalize and debug your solution at the
  workshop.
</p>
  
<p>
  <i>Task</i>: Make the robot follow a path marked by white tape
  on the floor. In the beginning, the robot will be placed on the path
  and it should move ahead, following the path. (You don't have to
  care what happens when the path ends.) You will be able to detect
  the path by using the readings from the light sensor.
</p>

<p>
  Use the following template to write a sketch of your solution. You
  should store your solution on a USB stick (or put it online) so that
  you can access it from the laptop at the workshop.
  <a href="https://materiaalit.github.io/intro-to-ai-17/files/HelloWorld.java">[download code]</a>
</p>

<% partial 'partials/code_highlight' do %>
package org.lejos.example;

import lejos.nxt.*;
import lejos.robotics.navigation.DifferentialPilot;

/**
 * Write your code in main()
 */
public class HelloWorld {

    static DifferentialPilot pilot = new DifferentialPilot(5.6, 17.5f, Motor.A, Motor.B);
    static UltrasonicSensor ultra = new UltrasonicSensor(SensorPort.S2);
    static LightSensor light = new LightSensor(SensorPort.S1);

    public static void main(String[] args) {
        System.out.println("I'll be back!");
        Button.waitForAnyPress();
    }
}
<% end %>

<p>
  <i>Hint:</i> Try to solve the task using as simple program logic as
  possible. In particular, it is not necessary that you maintain a
  detailed model of the environment (the path) and the position of the
  robot with respect to it. A useful strategy is to try to follow the
  right (or left) edge of the path, where the light readings change
  from high (path) to low (floor). You'll be able to estimate the
  actual values by printing out the readings on the robot screen
  at the workshop.
</p>

<% end %>

<% partial 'partials/exercise', locals: { name: 'Robotics 2 (2p)' } do %>

<p>
  Please use the registration link to the Robotics Workshops in
  Exercise 1 above.
</p>

<p>
  <i>Task:</i> "Park" the robot. The robot will be placed on a "street"
  that continues straight ahead, and where there are no obstacles.
  Drive ahead and use the ultrasound sensor to detect whether there
  are obstacles to the left of the robot. Find an minimum
  40 &times; 40 cm parking spot, and drive the robot into it.
</p>

<p>
  <i>Hint:</i> The <code>DifferentialPilot</code> class will probably
  be useful. It can be instructed to drive ahead a given distance
  by <code>travel(distance)</code>. You can also set the robot moving
  by calling <code>travel(distance, true)</code>, in which case
  the <code>true</code> argument makes the command flow return to the
  next line of your code immediately, instead of waiting that the
  robot has first travelled <code>distance</code> cm. You can then
  query whether the robot is still moving by
  <code>isMoving()</code>.
</p> 

<% end %>

<% partial 'partials/exercise', locals: { name: 'Feedback (2p)' } do %>

<p>
  The development of this course relies on your feedback. To give you
  a concrete incentive to give feedback, you'll even get exercise
  points for giving feedback!
</p>

<p>
  The deadline for this exercise is November 1 (one week after the
  course exam).
</p>

<p>
  Give feedback in both of the following ways:
  <ol>
    <li>
      Anonymously through the department feedback system:
      <a href="https://ilmo.cs.helsinki.fi/kurssit/servlet/Valinta?kieli=en">link to feedback system</a>
    <li>
      By email to the lecturer: <a href="mailto:teemu.roos@cs.helsinki.fi">
	teemu.roos@cs.helsinki.fi</a>
  </ol>
</p>

<p>
  To get 1p for item 1, mention in your email that you have submitted
  the anonymous feedback through the feedback system &mdash; after actually
  doing so, of course.
</p>

<p>
  Don't worry if the content is overlapping.
</p>

<% end %>

You can soon find the lecture slides for this part on the <a href="https://courses.helsinki.fi/DATA15001/119123276">course homepage</a>
under Materials.


<% partial 'partials/material_heading' do %>
  Robotics
<% end %>

<p>
  On this final part, we will encounter a <b>Grand Challenge</b>
  of AI, namely <b>Robotics</b>. Building and especially 
  programming robots so that they can operate in complex,
  real-world scenarios requires a combination of virtually
  all areas of AI. For example:
  <ul>
    <li> computer vision and speech recognition  for
      sensing the environment
    <li> natural language processing, information retrieval, and
      reasoning under uncertainty for processing instructions and
      predicting consequences of potential actions
    <li> cognitive modeling and <a href="https://en.wikipedia.org/wiki/Affective_computing">affective computing</a> for interacting and
      working together with humans
  </ul>
</p>

<p>
  Many of the robotics-related AI problems are best approached by
  machine learning, so it is a very central branch of AI for robotics.
</p>

<p>
  Of course we cannot solve all the open problems in robotics.  Our
  objective is to first appreciate the challenges that operating under
  constraints on the sensor capabilities of robots, and second, to
  learn to implement simple functionalities despite such
  contraints. In practice, this will be done in fun robotics workshops
  where you'll be able to get your hands on actual robots.
  (Don't worry, no terminators involved.)
</p>
  

<% partial 'partials/hint', locals: { name: 'Learning objectives of Part 5' } do %>

<table class="table">
  <tr>
    <td>
      Theme
    </td>
    <td>
      Objectives (after the course, you ...)
    </td>
  </tr>
  <tr>
    <td>
      Digital Signal Processing and Robotics
    </td>
    <td>
      <ul>
	<li>appreciate the difficulty of implementing an autonomous robot in the real world
	<li>implement simple functionalities, e.g., following a line on the floor, using a robot with limited sensor capabilities
      </ul>
    </td>
  </tr>
</table>

<% end %>

<% partial 'partials/material_sub_heading' do %>
  Digital signal representations
<% end %>

<p>
  Digital image and audio signals represent recordings of natural
  signals in numerical form. For images, the values represent 
  pixel intensities stored in a two-dimensional array. A third
  dimension can be used to store different bands for, e.g.,
  red, green, and blue (RGB). We can also think of the values
  are functions of the x and y coordinates, F(x,y).
</p>


